
@{
    ViewData["Title"] = "EditPublikasi";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Preview Publikasi
        <small>Advanced form element</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="https://localhost:44384/Home/Beranda"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Preview Publikasi</li>
    </ol>
</section>